<div class="row text-center">
  <h1>Tickets</h1>
</div>
<div class="row text-center">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= link_to 'New Ticket', new_ticket_path %>
    <ul>
      <% @tickets.each do |ticket| %>
        <li>
          <p><%= link_to ticket.title, ticket_path(ticket.id) %></p>
          <p><%= attachment_image_tag(ticket, :image, :fill, 300, 300) %></p>
          <p><%= 'Has Location' if ticket.lat.present? %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>
