<div class="row text-center">
  <h1>New Ticket</h1>
</div>
<div class="row text-center">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_for @ticket do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.attachment_field :image %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
