<div class="row text-center">
  <h1><%= @ticket.title %></h1>
</div>
<div class="row text-center">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p><%= image_tag attachment_url(@ticket, :image, :fill, 300, 300) %></p>
    <p><%= link_to 'Back to all tickets', tickets_path %></p>
    <p><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @ticket.lat %>,<%= @ticket.lng %>&amp;zoom=12&amp;size=600x300&amp;markers=<%= @ticket.lat %>,<%= @ticket.lng %>"></p>
  </div>
  <div class="col-md-3"></div>
</div>
